.microcf, .group {
  zoom: 1; }
  .microcf:before, .microcf:after, .group:after, .group:before, .group.microcf:after {
    content: "";
    display: table; }
  .microcf:after, .group:after {
    clear: both; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a, hr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
blockquote, code {
  display: block; }

div, object, iframe,
h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, var,
dl, ol, ul,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a, hr {
  margin-bottom: 1.5em; }

/* 	Typography
****************************************/
html {
  font-size: 16px;
  /* base font-size */ }

body {
  font: normal 100%/1.5 "Helvetica", Arial, sans-serif;
  /* base line-height */
  color: #1a1a1a; }

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em; }

h2 {
  font-size: 1.4em;
  line-height: 1.071428em;
  margin-bottom: 1.071428em; }

h3 {
  font-size: 1.3em;
  line-height: 1.153846em;
  margin-bottom: 1.153846em; }

h4, blockquote {
  font-size: 1.2em;
  line-height: 1.25em;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1.1em;
  line-height: 1.363636em;
  margin-bottom: 1.363636em; }

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: bold; }

a {
  color: #ff0055; }
  a:visited {
    color: #cc0044; }
  a:hover {
    color: #cc0044; }
  a:focus {
    outline: thin solid; }
  a:hover, a:active {
    outline: 0; }

address, blockquote, cite, em, i, q, mark {
  font-style: italic; }

blockquote, q {
  font-family: "Times New Roman", Georgia, serif;
  color: #ff0055; }

blockquote:before, blockquote.microcf:after, blockquote.group:after, blockquote:after,
q:before,
q.microcf:after,
q.group:after, q:after {
  content: ''; }

dl dt, mark {
  font-weight: bold; }

blockquote, code, dd {
  margin-right: 1.5em;
  margin-left: 1.5em; }

code, kbd, pre, samp, tt {
  padding: 1.5em;
  background: #444;
  font-family: 'Andale Mono', 'Lucida Console', monospace;
  color: white; }

ins, mark {
  background-color: #ff9;
  text-decoration: none; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title], acronym {
  border-bottom: 1px dotted;
  cursor: help; }

/* LISTS */
ul, ol {
  margin: 0 0 1.5em 0;
  list-style: none; }

ul li {
  list-style-type: none; }

ol li {
  list-style-type: decimal; }

ol ol li {
  list-style: upper-alpha; }

ol ol ol li {
  list-style: lower-roman; }

ol ol ol ol li {
  list-style: lower-alpha; }

hr {
  display: block;
  margin-top: -1px;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc; }

input, select {
  vertical-align: middle; }

table {
  width: 100%;
  border: 1px solid #1a1a1a;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center; }

th {
  font-weight: bold;
  background-color: #999999;
  color: white; }

tr:nth-child(even) {
  background: #f2f2f2; }

tr:nth-child(odd) {
  background: white; }

tfoot {
  font-style: italic; }

/* Forms */
/* Img alignment */
img.centered, .aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.alignright, img.alignleft {
  display: inline; }

.alignright {
  float: right;
  margin-left: 1.5em; }

.alignleft {
  float: left;
  margin-right: 1.5em; }

/* Structural */
.cf:before, .cf.microcf:after, .cf.group:after,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

p.wrapped {
  padding: 1.5em; }

@media only screen and (min-width: 53.142em) {
  body {
    font-size: .875em; } }
@media only screen and (min-width: 116.5em) {
  body {
    font-size: 1em; } }
div.alert-box {
  position: relative;
  display: block;
  margin: 3em;
  padding: 18px 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #666666;
  font-weight: bold;
  text-align: center;
  color: white; }
  div.alert-box.slide {
    margin: 0; }
  div.alert-box.success {
    background-color: #7fae00;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
  div.alert-box.warning {
    background-color: #c08c00;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
  div.alert-box.error {
    background-color: #c00000;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
  div.alert-box a.close {
    position: absolute;
    right: 4px;
    top: 0px;
    padding: 4px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: white; }
    div.alert-box a.close:hover {
      color: #cccccc; }

a.button, input.button, button {
  padding-top: 0.75em;
  padding-left: 1.5em;
  padding-bottom: 0.75em;
  padding-right: 1.5em;
  white-space: nowrap;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none; }
  a.button.pink, input.button.pink, button.pink {
    background: #ff0055;
    background-image: -moz-linear-gradient(100% 100% 90deg, #cc0044, #ff0055);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, #ff0055, #cc0044); }
    a.button.pink:hover, input.button.pink:hover, button.pink:hover {
      background-image: -moz-linear-gradient(100% 100% 90deg, #db0049, #ff0f5f);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, #ff0f5f, #db0049); }
  a.button.black, input.button.black, button.black {
    background: black;
    background-image: -moz-linear-gradient(100% 100% 90deg, #080808, #212121);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, #212121, #080808); }
    a.button.black:hover, input.button.black:hover, button.black:hover {
      background-image: -moz-linear-gradient(100% 100% 90deg, #1a1a1a, #262626);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, #262626, #1a1a1a); }
  a.button.white, input.button.white, button.white {
    background: white;
    background-image: -moz-linear-gradient(100% 100% 90deg, #f2f2f2, white);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, white, #f2f2f2);
    color: #666666; }
    a.button.white:hover, input.button.white:hover, button.white:hover {
      background-image: -moz-linear-gradient(100% 100% 90deg, #f2f2f2, white);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, white, #f2f2f2); }

.group {
  margin: 0 auto;
  width: 98%;
  background: #ddd; }
  .group [class^="span-"] {
    background: #f2f2f2;
    text-align: center; }

@media only screen and (min-width: 57em) {
  .group .span-1 {
    width: -1.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-2 {
    width: 2.333333%;
    margin: 2%;
    padding: 1%; }
  .group .span-3 {
    width: 6.5%;
    margin: 2%;
    padding: 1%; }
  .group .span-4 {
    width: 10.666667%;
    margin: 2%;
    padding: 1%; }
  .group .span-5 {
    width: 14.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-6 {
    width: 19%;
    margin: 2%;
    padding: 1%; }
  .group .span-7 {
    width: 23.166667%;
    margin: 2%;
    padding: 1%; }
  .group .span-8 {
    width: 27.333333%;
    margin: 2%;
    padding: 1%; }
  .group .span-9 {
    width: 31.5%;
    margin: 2%;
    padding: 1%; }
  .group .span-10 {
    width: 35.666667%;
    margin: 2%;
    padding: 1%; }
  .group .span-11 {
    width: 39.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-12 {
    width: 44%;
    margin: 2%;
    padding: 1%; }
  .group .span-13 {
    width: 48.166667%;
    margin: 2%;
    padding: 1%; }
  .group .span-14 {
    width: 52.333333%;
    margin: 2%;
    padding: 1%; }
  .group .span-15 {
    width: 56.5%;
    margin: 2%;
    padding: 1%; }
  .group .span-16 {
    width: 60.666667%;
    margin: 2%;
    padding: 1%; }
  .group .span-17 {
    width: 64.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-18 {
    width: 69%;
    margin: 2%;
    padding: 1%; }
  .group .span-19 {
    width: 73.166667%;
    margin: 2%;
    padding: 1%; }
  .group .span-20 {
    width: 77.333333%;
    margin: 2%;
    padding: 1%; }
  .group .span-21 {
    width: 81.5%;
    margin: 2%;
    padding: 1%; }
  .group .span-22 {
    width: 85.666667%;
    margin: 2%;
    padding: 1%; }
  .group .span-23 {
    width: 89.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-24 {
    width: 94%;
    margin: 2%;
    padding: 1%; }
  .group [class^="span-"] {
    float: left; } }
body {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, #dddddd), color-stop(5%, rgba(221, 221, 221, 0)));
  background-image: -webkit-linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  background-image: -moz-linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  background-image: -o-linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  background-image: -ms-linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  background-image: linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  -moz-background-size: 100% 1.5em;
  -webkit-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top; }

#container {
  margin: 0 auto;
  width: 80%; }
