.microcf, .group {
  zoom: 1; }
  .microcf:before, .microcf:after, .group:after, .group:before, .group.microcf:after {
    content: "";
    display: table; }
  .microcf:after, .group:after {
    clear: both; }

.group {
  margin: 0 auto;
  width: 98%;
  background: #ddd; }
  .group [class^="span-"] {
    background: #f2f2f2;
    text-align: center; }

@media only screen and (min-width: 57em) {
  .group .span-1 {
    width: -1.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-2 {
    width: 2.333333%;
    margin: 2%;
    padding: 1%; }
  .group .span-3 {
    width: 6.5%;
    margin: 2%;
    padding: 1%; }
  .group .span-4 {
    width: 10.666667%;
    margin: 2%;
    padding: 1%; }
  .group .span-5 {
    width: 14.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-6 {
    width: 19%;
    margin: 2%;
    padding: 1%; }
  .group .span-7 {
    width: 23.166667%;
    margin: 2%;
    padding: 1%; }
  .group .span-8 {
    width: 27.333333%;
    margin: 2%;
    padding: 1%; }
  .group .span-9 {
    width: 31.5%;
    margin: 2%;
    padding: 1%; }
  .group .span-10 {
    width: 35.666667%;
    margin: 2%;
    padding: 1%; }
  .group .span-11 {
    width: 39.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-12 {
    width: 44%;
    margin: 2%;
    padding: 1%; }
  .group .span-13 {
    width: 48.166667%;
    margin: 2%;
    padding: 1%; }
  .group .span-14 {
    width: 52.333333%;
    margin: 2%;
    padding: 1%; }
  .group .span-15 {
    width: 56.5%;
    margin: 2%;
    padding: 1%; }
  .group .span-16 {
    width: 60.666667%;
    margin: 2%;
    padding: 1%; }
  .group .span-17 {
    width: 64.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-18 {
    width: 69%;
    margin: 2%;
    padding: 1%; }
  .group .span-19 {
    width: 73.166667%;
    margin: 2%;
    padding: 1%; }
  .group .span-20 {
    width: 77.333333%;
    margin: 2%;
    padding: 1%; }
  .group .span-21 {
    width: 81.5%;
    margin: 2%;
    padding: 1%; }
  .group .span-22 {
    width: 85.666667%;
    margin: 2%;
    padding: 1%; }
  .group .span-23 {
    width: 89.833333%;
    margin: 2%;
    padding: 1%; }
  .group .span-24 {
    width: 94%;
    margin: 2%;
    padding: 1%; }
  .group [class^="span-"] {
    float: left; } }
