body {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, #dddddd), color-stop(5%, rgba(221, 221, 221, 0)));
  background-image: -webkit-linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  background-image: -moz-linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  background-image: -o-linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  background-image: -ms-linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  background-image: linear-gradient(bottom, #dddddd 5%, rgba(221, 221, 221, 0) 5%);
  -moz-background-size: 100% 1.5em;
  -webkit-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top; }

#container {
  margin: 0 auto;
  width: 80%; }
