@import "includes/mixins";
@import "includes/vars";


// Grid Variables 
// Container width
$grid-width:		100%;
// Number of columns
$columns:			24;
// Margins, both left and right, value doubles when totalled
// If set to 0, group-width value left with $grid-width value. Broken.
$margins:			1%;
// Span padding
$padding: 			1%;
// Gutter total width, divide by for left, right margins
$gutter:			2%;
// Row container after margins subtracted
$group-width:		$grid-width - $margins * 2;

// TODO: Go to em measurements
// TODO: still need to consider offseting columns.
// TODO: RTL, float: right instead
// TODO: Add other Media Queries
// TODO: Clean up

.group {
	@extend .microcf;
	margin: 0 auto;
	width: $group-width;
	background: #ddd; // testing
	[class^="span-"] {
		background: $gray5;
		text-align: center; // testing
	}
}

// We're not in Mobile anymore Toto [Thanks for the name spelling correction, @HarryB]

@media only screen and (min-width: 57em) {
	.group {
		// Add margins
		@for $i from 1 through $columns {
			.span-#{$i} {
				width: 100% / $columns * $i - $gutter * 2 - $padding * 2;
				margin: $gutter;
				padding: $padding;
			}
		}
		[class^="span-"] {
			float: left;
		}
	}
}