.case {
    max-width: 1600px;
    margin: 0 auto;
    padding: $gutter;
    background-color: lighten($black, 95);
}
.shelf {
    @extend %cf;
    clear: both;
}
.two-up > * {
    width: 48%;
    float: left;
    &:nth-child(2n) {
        float: right;
    }
}
.block {
    @extend %cf;
}