// not sure about leaving the colors in...

div.alert-box {
	position: relative;
	display: block;
	margin: $baseLine;
	padding: 1.5em;
	background: $accent;
	font-weight: bold;
	text-align: center;
	color: $white;
	p {
		margin: 0 $baseLine;
	}
	&.slide {
		margin: 0;
		margin-bottom: $baseLine;
	}
	&.success {
		background-color: #7fae00;
		text-shadow: 0 -1px rgba(0,0,0,0.3);
	}
	&.warning {
		background-color: #c08c00;
		text-shadow: 0 -1px rgba(0,0,0,0.3);
	}
	&.error {
		background-color: #c00000;
		text-shadow: 0 -1px rgba(0,0,0,0.3);
	}
	a.close {
		position: absolute;
		right: $baseLine/4;
		top: 0px;
		padding: $baseLine/4;
		font-size: 1.25em;
		//line-height: $basefont*1.5;
		text-decoration: none;
		color: $white;
		&:hover, &:focus {
			color: transparentize($white, .2);
		}
	}
}

