a.button, input.button, button {
	display: inline-block;
	//margin: $baseLine 0;
	padding-top: $baseLine;
	padding-left: $baseLine * 2;
	padding-bottom: $baseLine;
	padding-right: $baseLine * 2;
	white-space: nowrap;
	@include radius;
	color: $white;
	font-size: $basefont;
	font-weight: bold;
	text-decoration: none;
	vertical-align: baseLine;
	// NOTE: make into mixin with args
	&.pink {
		@include gradient($accent, $accent, $accentDark);
		border: 1px solid $accentDark
	}
	&.white {
		@include gradient($gray5, $white, $gray5);
		border: 1px solid $gray5;
		color: $gray80
	}
	&.black {
		@include gradient($gray80, $gray80, $black);
		border: 1px solid $black
	}
}