// horizontal

nav {
	width: 100%;
	ul {
		li {
		}
		a {
			display: block;
			// padding: $baseLine/2; // uncomment for larger click area
			&:hover {
				background: rgba(0,0,0,.2);
				transition: all 1s linear;
				-moz-transition: all 1s linear;
				-ms-transition: all 1s linear;
				-o-transition: all 1s linear;
				-webkit-transition: all 1s linear;
			}
		}
	}
	&.horizontal {
		background: $gray5;
		ul {
			text-align: center;
			li {
				display: inline
			}
			a {
				display: inline-block
			}
		}
	}
}

// vertical