.case {
	margin: 0 auto;
	max-width: 1600px;
}
.shelf {
	@include micro-cf;
	background-color: #ddd; // testing only
	clear: both;
}

// use float, no need for margin. Could ofc, float all left with margins on 2n+ siblings
// use display inline, no need to declare float twice. Need to declare margin for 2n+ siblings, this is great when all siblings are same element - use +.

.two-up > * { // This is evil, I know. 
	background-color: #eee; // testing only
	width: 48%;
	float: left;
	&:nth-child(2n) {
		float: right;	
		background-color: #ccc; // testing only
	}
}

// block classes are for padding and styling, not grid.