.js .visuallyhidden {
	@include visuallyhidden;
}
.js {
	.hidden {
		display: none;
	}
}
.no-js {
	#toggler {
		display: none;
	}
}
#global-nav {
	z-index: 100;
	position: fixed;
	left: 0;
	bottom: 4.999em; // relates to font-size and line height of .mobile
	margin: 0;
	background: $gray60;
}
#toggler {
	z-index: 200;
	position: fixed; // FIX: doesn't work well on mobile :( Need alternative, probably JS.
	left: 0;
	bottom: 0;
	padding: 1em 0;
	display: block;
	width: 100%;
	background: $accent;
	text-align: center;
	&:hover {
		background: darken($accent, 5);
	}
}

// remove if not using pictogram icon font
.mobile {
	font: 2em/.5em 'ModernPictogramsNormal', Helvetica, Arial, sans-serif;
}

nav {
	width: 100%;
	ul {
		margin-bottom: 0;
		list-style: none;
		li {

		}
		a {
			display: block;
			padding: $baseLine;
			color: $white;
			&:hover, &:focus {
				background: rgba(0,0,0,.2);
				transition: all 1s linear;
				-moz-transition: all 1s linear;
				-ms-transition: all 1s linear;
				-o-transition: all 1s linear;
				-webkit-transition: all 1s linear;
			}
		}
	}
}

@media only screen and (min-width: 750px) {

	#global-nav {
		position: relative;
		left: 0;
		bottom: 0;
		margin-bottom: $baseLine;
	}

	nav {
		background: $gray5;
		ul {
			text-align: center;
			li {
				display: inline
			}
			a {
				display: inline-block
			}
		}
	}

	.mobile {
		display: none !important
	}

}