////////////////////////////////
// Markup Sample
////////////////////////////////

// <a id="toggler" class="mobile" aria-hidden="true" data-icon="4"></a>
// <nav id="global-nav" role="navigation" class="global-nav visuallyhidden microcf">
//     <ul>
//         <li>
//             <a href="#">anchor 1</a>
//         </li>
//         <li>
//             <a href="#">anchor 2</a>
//         </li>
//         <li>
//             <a href="#">anchor 3</a>
//         </li>
//     </ul>
// </nav>

.js .visuallyhidden {
  @include visuallyhidden;
}
.js {
  .hidden {
    display: none;
  }
}
.no-js {
  #toggler {
    display: none;
  }
}
#global-nav {
  z-index: 100;
  margin: 0;
  background: lighten($black, 40);
}
#toggler {
  z-index: 200;
  display: block;
  width: 100%;
  background: $accent;
  text-align: center;
  &:hover {
    background: darken($accent, 5);
  }
}

nav {
  width: 100%;
  ul {
    margin-bottom: 0;
    list-style: none;
    li {

    }
    a {
      display: block;
      padding: $baseLine;
      color: $white;
      &:hover, &:focus {
        background: rgba(0,0,0,.2);
        @include single-transition(all 1s linear false);
      }
    }
  }
}

@media only screen and (min-width: 750px) {

  #global-nav {
    position: relative;
    left: 0;
    bottom: 0;
  }

  nav {
    background: lighten($black, 95);
    ul {
      text-align: center;
      li {
        display: inline
      }
      a {
        display: inline-block
      }
    }
  }

  #toggler {
    display: none 
  }

}