a.button, input.button, button {
  display: inline-block;
  padding-top: $baseLine;
  padding-left: $baseLine * 2;
  padding-bottom: $baseLine;
  padding-right: $baseLine * 2;
  white-space: nowrap;
  @include border-radius(3px);
  color: $white;
  font-size: $baseFont;
  font-weight: bold;
  text-decoration: none;
  vertical-align: baseLine;
  &.pink {
    @include background-image(linear-gradient(bottom, $accentDark, $accent));
    border: 1px solid $accentDark;
  }
  &.white {
    @include background-image(linear-gradient(bottom, lighten($black, 95), $white));
    border: 1px solid lighten($black, 95);
    color: lighten($black, 20);
  }
  &.black {
    @include background-image(linear-gradient(bottom, $black, lighten($black, 20)));
    border: 1px solid $black;
  }
}