$colors: accent, black;
@each $color in $colors {
  .colorbar-#{$color} {
    margin-bottom: 1em;
    $i: 1;
    $range: 20;
    @while $i < $range {
      .colorbar-range-#{$i*(100/$range)} {
        float: left;
        width: 100/$range*1%;
        height: 1em;
        background-color: lighten(/*unquote("$")#{$color}*/$black, $i * 5); // error: "$accent" is not a color for `lighten'
        $i: $i + 1;
      }
    }
  }
}