// TODO: Go to em measurements
// TODO: still need to consider offseting columns.
// TODO: RTL, float: right instead
// TODO: Add other Media Queries
// TODO: Clean up

.group {
	@extend .microcf;
	margin: 0 auto;
	width: $group-width;
	border: 1px solid lighten($black, 50); // testing
	[class^="span-"] {
		background: lighten($black, 95);
		text-align: center; // testing
	}
}

@media only screen and (min-width: 57em) {
	.group {
		// Add margins
		// padding: $gutter;
		@for $i from 1 through $columns {
			.span-#{$i} {
				width: $grid-width / $columns * $i - ($padding * 2 + $margins * 2);
				margin: $margins;
				padding: $padding;
			}
		}
		[class^="span-"] {
			float: left;
		}
	}
}