// MARKUP EXAMPLE
// <header class="global">
//     <div class="mod--foo">
//         <code>.mod--foo</code>
//     </div>
//     <div class="mod--bar">
//         <code>.mod--bar</code>
//     </div>
// </header>

// <section class="global">
//     <article>
//         <code>article</code>
//     </article>
//     <aside class="mod--footnotes">
//         <code>.mod--footnotes</code>
//     </aside>
//     <article>
//         <code>article</code>
//     </article>
//     <aside class="mod--footnotes">
//         <code>.mod--footnotes</code>
//     </aside>
// </section>

// <footer class="global">
//     <article class="mod--credits">
//         <code>.mod--credits</code>
//     </article>
// </footer>

// TODO: still need to consider offseting columns.
// TODO: RTL, float: right instead
// TODO: Add other Media Queries
// TODO: Clean up

.group {
  @extend %cf;
  margin: 0 auto;
  width: $grid-width; // for gutters, use $group-width
  // for testing only below
  background: lighten($black, 80);
}

[class^="span-"], [class^="mod"] {
  // for testing only below
  background: lighten($black, 95);
}

%grid-spacing {
  float: left;
  @include box-sizing(border-box);
  margin: $margins;
  padding: $padding;
  // for testing only below
  outline: 1px dashed $accent;
}

// TO DO: make mixin instead
@for $i from 1 through $columns {
  %span-#{$i} {
    width: ($grid-width / $columns * $i) - ($margins * 2); 
    @extend %grid-spacing;
  }
}