// horizontal

nav {
	width: 100%;
	ul {
		li {
		}
		a {
			display: block;
			// uncomment for larger click area
			// padding: $baseLine/2;
			&:hover {
				background: rgba(0,0,0,.2);
				@include transition(all 1s linear false);
			}
		}
	}
	&.horizontal {
		background: lighten($black, 95);
		ul {
			text-align: center;
			li {
				display: inline
			}
			a {
				display: inline-block
			}
		}
	}
}

// vertical