// MARKUP EXAMPLE
// <nav class="group">
//     <article class="span-3">
//         3
//     </article>
//     <aside class="span-5">
//         5
//     </aside>
//     <article class="span-3">
//         3
//     </article>
//     <aside class="span-5">
//         5
//     </aside>
//     <article class="span-3">
//         3
//     </article>
//     <aside class="span-5">
//         5
//     </aside>
// </nav>

// <section class="group">
//     <article class="span-8">
//         8
//     </article>
//     <aside class="span-8">
//         8
//     </aside>
//     <article class="span-8">
//         8
//     </article>
// </section>

// TODO: still need to consider offseting columns.
// TODO: RTL, float: right instead
// TODO: Add other Media Queries
// TODO: Clean up

.group {
  @extend %cf;
  margin: 0 auto;
  width: $grid-width; // for gutters, use $group-width
  background: lighten($black, 80);
}

[class^="span-"], [class^="mod"] {
  background: lighten($black, 95);
}

@media only screen and (min-width: 57em) {
  
  %grid-spacing {
    float: left;
    @include box-sizing(border-box);
    margin: $margins;
    padding: $padding;
    // for testing only below
    outline: 1px dashed $accent;
  }

  [class^="span-"], [class^="mod"], section.global article {
  }

  @for $i from 1 through $columns {
    %span-#{$i} {
      // Needs testing: using $grid-width might be problem if not 100%.
      width: ($grid-width / $columns * $i) - ($margins * 2); 
      @extend %grid-spacing;
    }
  }

}