// TODO: Go to em measurements
// TODO: still need to consider offseting columns.
// TODO: RTL, float: right instead
// TODO: Add other Media Queries
// TODO: Clean up

.group {
  @extend %cf;
  margin: 0 auto;
  width: $grid-width; // for gutters, use $group-width
  background: lighten($black, 80);
  [class^="span-"] {
    background: lighten($black, 95);
    // testing below
    text-align: center;
  }
}

@media only screen and (min-width: 57em) {
  .group {
    @for $i from 1 through $columns {
      .span-#{$i} {
        // Needs testing: using $grid-width might be problem if not 100%.
        width: $grid-width / $columns * $i - ($padding * 2 + $margins * 2); 
        margin: $margins;
        padding: $padding;
        // testing below
        outline: 1px dashed $accent;
      }
    }
    [class^="span-"] {
      float: left;
    }
  }
}