// EXPERIMENTAL & THOROUGHLY INCOMPLETE

// MARKUP EXAMPLE
// <section class="shelf two-up global-support"> 
//     <div class="block block-news microcf">
//         <h5>Heading One</h5>
//         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
//     </div>
//     <div class="block block-blog">
//         <h5>Heading Two</h5>
//         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
//     </div>
// </section>

.case {
  max-width: 1600px;
  margin: 0 auto;
  padding: $gutter;
  background-color: lighten($black, 95);
}
.shelf {
  @extend %cf;
  clear: both;
}
.two-up > * {
  width: 48%;
  float: left;
  &:nth-child(2n) {
    float: right;
  }
}
.block {
  @extend %cf;
}