// Fonts
$basefont:			16px;
$baseLine:			1.5em;

// Colors
$black:			rgba(0,0,0,1);
$white:			rgba(255,255,255,1);
$gray90:		lighten($black, 10%);
$gray80:		lighten($black, 20%);
$gray60:		lighten($black, 40%);
$gray40:		lighten($black, 60%);
$gray20:		lighten($black, 80%);
$gray5:			lighten($black, 95%);
$hotpink:		rgba(255,0,85,1);
$hotpinkAccent:	darken($hotpink, 10%);

// Letterpress
$lp-dark:	1px 1px 1px rgba(0,0,0,.2);
$lp-light:	1px 1px 1px rgba(0,0,0,.8);