////////////////////////////////
// Markup Sample: Mobile Menu
////////////////////////////////

// <a id="toggler" class="mobile" aria-hidden="true" data-icon="4"></a>
// <nav id="global-nav" role="navigation" class="global-nav visuallyhidden microcf">
//     <ul>
//         <li>
//             <a href="#">anchor 1</a>
//         </li>
//         <li>
//             <a href="#">anchor 2</a>
//         </li>
//         <li>
//             <a href="#">anchor 3</a>
//         </li>
//     </ul>
// </nav>

  .global-nav {
    position: relative;
    left: 0;
    bottom: 0;
      a {
        display: inline;
      }
  }

  #toggler {
    display: none 
  }