// REF: https://github.com/chriseppstein/compass/tree/stable/frameworks/compass/stylesheets/compass

@import "compass/css3";
@import "compass/layout";
//@import "compass/reset";
@import "compass/typography";
@import "compass/utilities";

// Clearfix
@mixin micro-cf {
    &:before {
        content:"";
        display:table;
    }
    &:after {
        @extend :before;
        clear:both;
    }
    @include has-layout;
}

// Fonts
@mixin fontStack($type) {
    font-family: $type;
}

@mixin heading($font-size) {
    font-size: $font-size;
    line-height: ($baseLine / $font-size)+em;
    margin-bottom: ($baseLine / $font-size)+em;
}


// -webkit-filter: blur(100%);
// -webkit-filter: brightness(100%);
// -webkit-filter: contrast(200%);
// -webkit-filter: grayscale(100%);
// -webkit-filter: hue-rotate(0%);
// -webkit-filter: invert(100%);
// -webkit-filter: opacity(50%);
// -webkit-filter: saturate(0%);
// -webkit-filter: sepia(100%);
@mixin webkit-filter($filter, $measure) {
    -webkit-filter:#{$filter}unquote("(#{$measure})");
    -moz-filter:#{$filter}unquote("(#{$measure})");
    filter:#{$filter}unquote("(#{$measure})");
}

// Letterpress
//$lp-dark: 1px 1px 1px rgba(0,0,0,.2);
//$lp-light:    1px 1px 1px rgba(0,0,0,.8);

@mixin visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    &.focusable:active,
    &.focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

// ADD webkit-filter

// FONT ICONS: Straight jacking Chris Coyier right here. 

@mixin data-icon($icon-font, $icon-font-size, $line-height) {
    &:before {
        font-family: $icon-font;
        font-size: $icon-font-size;
        line-height: $line-height;
        content: attr(data-icon);
        speak: none;
    }
}