// Inspired by:
// Vanilla Resets Hybrid + html5doctor.com Reset Stylesheet v1.6.1
// http://richclarkdesign.com
////////////////////////////////

html, body {
    height: 100%;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a, hr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, 
blockquote, code {
    display: block;
}

@for $i from 1 through 6 {
    p  { 
        ~ #{h}#{$i} {
            margin-top: $baseLine;
        }
    }
}

////////////////////////////////
// Lists
////////////////////////////////

ul, ol {
    margin: 0 0 $baseLine 0;
    list-style: none;
    list-style-image: none;
}
ul li {
    list-style-type: none;
}
ol {
    li {
        list-style: inside decimal;
    }
    ol li {
        list-style: upper-alpha;
    }
    ol ol li {
        list-style: lower-roman;
    }
    ol ol ol li {
        list-style: lower-alpha;
    }
}

////////////////////////////////
// Tables
////////////////////////////////

table {
    width: 100%; // or not
    border: 1px solid lighten($black, 10);
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}
th {
    font-weight:bold;
    background-color: lighten($black, 60);
    color: $white;
}
th, td, caption {
    
}
tr:nth-child(even) {
    background: lighten($black, 95);
}
tr:nth-child(odd) {
    background: $white;
}
tfoot {
    font-style: italic;
}

////////////////////////////////
// Structural
////////////////////////////////

.cf {
    @include micro-cf;
}

////////////////////////////////
// Media
////////////////////////////////

img, video, embed {
    max-width: 100%;
}

img {
    border: 0;
    @include webkit-filter(grayscale, 70%);
    -ms-interpolation-mode: bicubic;
    &:hover {
        @include webkit-filter(sepia, 0);
    }
}


hr {
    display: block;
    margin: $baseLine 0;
    padding: 0;
    border: 0;
    border-top: 1px solid $accent;
}